@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Open Sans", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --spacing-container: 80%;
    --color-color1: #1E2832;
    --color-color2: #E3E3E3;
    --color-color3: #0000001a;
    --color-color4: #000000bf;
    --color-color5: #00000080;
    --color-color6: #FFD881;


}